
{% extends 'base.html' %}
{% load staticfiles %}
{% block meta_links %}
{% endblock %}
{% block style_links %}
{% endblock %}

{% block title %}
Story
{% endblock %}

{% block content %}
<div class="container">
    <h3>My stories</h3>
    <div class="row">
        {% for story in story_list %}
        <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                        <img src="{{story.image.url}}" class="card-img-top" alt="card image">
                        <div class="card-body">
                          <h5 class="card-title">{{%story.title}}</h5>
                          <p class="card-text">{{story.content|safe|truncatewords:30}}</p>
                          <a href="{{story.get_absolute_url}}" class="btn btn-primary">View detail</a>
                        </div>
                      </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}
{% block script_links %}
{% endblock %}
 
{% blockscript %}
{% endblock %}
